<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latest News</title>
</head>
<body>

    <h1>Crypto News of the Day</h1>
    
    <form method="post" action="/articles" th:unless="${#lists.isEmpty(articles)}">

        <button type="submit" th:text="Save"></button>
        <br><br>


        <div th:each="article : ${articles}" th:object="${article}" class="article">

            <img th:src="*{imageurl}" width="400px" />

            <div>
                <p>Id: <span th:text="*{id}"></span></p>
    
                <h2><span th:text="*{title}"></span></h2>
                
                <p><span th:text="*{body}"></span></p>
    
                <p>Categories: <span th:text="*{categories}"></span></p>

                <p>Tags: <span th:text="*{tags}"></span></p>
    
                <p>Published: <span th:text="*{#dates.format(published_on * 1000, 'dd-MM-yyyy')}"></span></p>

                <a th:href="*{url}"  target="_blank"  rel="noopener noreferrer">Link</a>
            </div>

            <input type="checkbox" th:id="'save-' + *{id}" name="save" th:value="*{id}" />
            <label th:for="'save-' + *{id}">Save</label>

            <br><br><br>
        </div>


    </form>
    
</body>
</html>